@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: rgba(147, 197, 253, 0.5); /* soft neon blue */
  color: white;
}
::-moz-selection {
  background: rgba(147, 197, 253, 0.5);
  color: white;
}
